<a href="https://colab.research.google.com/github/Josh-Sherry/IBM-Data-Science/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## Author:
Josh Sherry

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   Popular languages for data scientists
*   Common DS libraries
* DS tools

Some of the popular languages that Data Scientists use are:


1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:


*   Pandas
*   NumPy
* Matplotlib

| Data Science Tools |
|----------|
| Jupyter Notebook |
| Google Colab|
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335